.container{
    font-family: 'Climate Crisis', cursive;
font-family: 'Gloock', serif;
font-family: 'Golos Text', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Noto Serif', serif;
font-family: 'Roboto', sans-serif;
}
.background {
    background-image: url(/image/modern+eclectic+living+room.jpeg);
    background-size: 100%;
width: 100%;
  height: 600px;  

   

    
}
.Cozy{
float: 30%;
 position: relative;   
top: 20px;
color: #002d3d;
margin-left: 5%;

}
#ho{
    color: #ffac7d;
}
.search{
    padding: 12px;
    text-align: left;
    background-color:#ffe5d6;
    color: #002d3d;
    width: 25%;
    margin-left: 45%;
    position: relative;
    top: -40px;
    border-radius: 5%;
    
}

.Cozy ul li{
    padding: 0px 6px 8px 4px;
    justify-content: right;
    display: inline-block;
    margin-right: 5%;
}
.love{
    width: 3%;
}
.make{
    text-align: center;
    position: relative;
    top: 200px;
    margin-left: 20%;
    font-family: 'Montserat',sans-serif;
    font-size: 20px;
    
}
.explore{
    text-align: center;
    position: relative;
    top: 200px;
    margin-left: 10%;
}
.your{
    text-align: center;
    position: relative;
    top: 200px;
    margin-left: ;
}
.shop{
    text-align: center;
    position: relative;
    top: 200px;
    background-color: #ffac7d;
    margin-left: 50%;
    padding: 12px;
    border-radius: 5%;
}

.modern{
    float: right;
    margin-left: 20%;
    
}
.classic{
    width: 50%;
    position: relative;
    top: 47px;
    margin-right: 5%;

}
.dining{
    width: 50%;
}
.mod{
    background-color: #ffac7d;
    width: 50%;
    padding: 12px;
    border-radius: 5%;
}
    
    

.image2{
    display: flex;
    justify-content: space-around;
    background-color: white;
    
    
}
.scand{
    width: 50%;

}
.laptop{
    width: 20%;
    margin-left: 5%;
    height: 30%;
}
.wall{
    width: 40%;
    margin-left: 50%;
    position: relative;
    top:-120px ;
}
.mary{
    width: 20%;
    margin-left: 40%;
    position: relative;
    top: -500px;
    
}
#rustic{
    margin-left: 5%;
}
#shelve{
    margin-right: 10%;
    position: relative;
    top: -140px;
    
}
#mustard{
   margin-left: 70%;
   position: relative; 
   top: -500px;
    
}






    
    


    
    






.image3{

background-color: #002d3d;


}
.flower{
   float: right;
   margin-right: 5%;
padding: 0px 0px 5px;
  transform: translateY(65px)
  
   

}
.join{
    background-color:#ffffff;
    text-align: center;
}
.need{
    background-color: #ffe5d6;
    background-size: 60px;
    

    
    
}
#guides{
    margin-left: 25%;
    
}
#blog{
    margin-left: 25%;
}
#ideas{
    margin-left: 25%;
    
}
#spi{
    margin-left:24%;
    font-size: 150%;
}
#all{
    margin-left: 25%;
    font-size: 60%;
}
.instagram{
    width: 5%;
    position: relative;
    top: 7px;
    color: white;
}
.printest{
    width: 3%;
}
.facebook{
    width: 3%;
}
.cozy2 ul li{
  list-style: none; 
  top: 200Px; 
  color: #ffffff;
  
}
.about{
    margin-left: 20%;
    position: relative;
    top: -30px;
}
.about ul li{
    list-style: none;
    color: #ffffff;
    font-size: 60%;
}
.shipping{
    margin-left: 37%;
    position: relative;
    top: -100px;
    color: #ffffff;
    font-size: 60%;
}
.shipping ul li{
    list-style: none;
}
.careers{
    margin-left: 50%;
    position: relative;
    top: -160px;
    color: #ffffff;
    font-size: 60%;
}
.careers ul li{
    list-style: none;
}
.find{
margin-left: 70%;
position: relative;
top: -200px;
color: #ffffff;
font-size: 60%;
}
.find ul li{
list-style: none;
text-emphasis-color: white;

}
.last{
    background-color: #002d3d;
    
}
.go{
  background-color: #ffac7d;
  border: none;
}
#your2{
    
    
    color: #002d3d;
    text-align: center;

}
.more{
    
    margin-left: 35%;
    padding: 16px;
    border-radius: 5%;
    background-color: #ffac7d;
    width: 130px
    
    
}
.popular{
    color: #ffac7d;
}
.insp{
    color: #002d3d;
    font-size: 150%;
    
    
}
.flower{
    position: relative;
    top: -60px;
    
}
.ome{
    color: #ffac7d;
    
}
.he{
  font-size: 60%;  
}
.chair{
    margin-left: 5%;
}

.sign{
    float: right;
    margin-right: 15%;
position: relative;
top: -15px;
}
.fa fa-magnifying-glass{
    float: left;
}
#the{
    font-size: 60%;
}



